.content{

    .back-mangmnt{
        text-decoration: none;
        color: white;
    }
    .person-add{
        .input-req{
            color: red;
            display: inline-flex;
        }
    }
}