<!-- INCLUDE SIDEBAR -->
<app-sidebar></app-sidebar>
<!-- INCLUDE SIDEBAR -->
<div class="main-panel">
<!-- INCLUDE HEADER -->
  <app-header></app-header>
<!-- INCLUDE HEADER -->

<!-- INCLUDE PAGE AREA -->
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">User Management</h4>
          <p class="card-category">Add</p>
        </div>
        <div class="card-body">
          <simple-notifications></simple-notifications>
          Add User Form
        </div>
      </div>
    </div>
  </div>
</div>
<!-- INCLUDE PAGE AREA -->

<!-- INCLUDE FOOTER AREA -->
<app-footer></app-footer>
<!-- INCLUDE FOOTER AREA -->
</div>